:root {
    --theme-deafult: #7FAD39;
    // This gradient color only for gym layout
    --theme-gradient1: #01effc;
    --theme-gradient2: #485ff2;
  }


@import '~bootstrap-scss/bootstrap.scss';
@import '../scss/landing_page.scss';
@import '../scss/animate.scss';
@import '~react-image-lightbox/style.css';
@import '~react-toastify/dist/ReactToastify.css';
@import 'font-awesome.scss';
@import 'theme/variables';
@import 'theme/style';
@import 'theme/menu';
@import 'theme/responsive';
@import 'theme/rtl';
@import 'theme/dark';
@import "./slick.scss";
@import "./slick-theme.scss";
@import "../../../pages/Awards/Award.css";


.Award__para{
  color: rgb(159, 159, 159);
  text-align: center;
  font-size: 10px;
  padding-bottom: 25px;
}
.carousel-wrapper{
  margin-bottom: 2.3rem;
}
.award__cardContainer{
  height: 280px;
  cursor: pointer;
  width: 230px;
}
.award__img{
  width: 90%;
  height: 90%;
  transition: 0.4s;
}
.award__img:hover {
  transform: scale(1.1);
}

.sc-gKsewC{
  background-color: #FFF !important;
  box-shadow:none;
}
.rec-dot_active{
   box-shadow:none;
  background-color: #b5ffae !important;
}
.counter__container{
  margin: 10px 25px;
}



/* round buttons on hover */
.rec.rec-arrow {
  border-radius: 50%;
  background-color: #e3e3e3 !important;
}
/* hide disabled buttons */
.rec.rec-arrow:disabled {
  visibility: hidden;
}
/* disable default outline on focused items */
/* add custom outline on focused items */
.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 1px lightgrey;
}

.Award__MainHeading{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Award__MainHeading>h1{
  font-size: 40px;
  color: #7FAD39;
}
@media only screen and (max-width: 934px){
  .Award__para{
  font-size: 1.2rem;
} 
}

// testimonal 


.Testimonial__MainHeading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Testimonial__MainHeading>h1{
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    color: #7FAD39;
}

.carousel-root {
    width: 94% !important;
    margin: auto !important;
    margin-top: 3% !important;
    margin-bottom: 50px !important;
  }
  
  .carousel .slide {
    background: transparent !important;
    color: #7FAD39;
    height: 100%;
  }
  
  .carousel .slide img {
    width: 139px !important;
    border-radius: 50%;
  }
  
  .myCarousel {
    background: transparent !important;
    margin-top: -6%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6%;
    padding-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    height: 326px;
  }
  
  .carousel .control-dots {
    padding-left: 5px !important;
    outline: 0;
    bottom: 5% !important;
  }
  
  .myCarousel h3 {
    color: #7FAD39;
    font-weight: 300;
    letter-spacing: 0.2px;
    margin: 12px auto;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 23px;
  }
  
  .myCarousel h4 {
    text-transform: uppercase;
    margin: 15px auto ;
    padding-top: 0;
    font-weight: 500;
    color: #d2d2d2;
    font-size: 14px;
  }
  
  .myCarousel p {
    font-weight: 100 !important;
    line-height: 40px !important;
    color: rgb(136, 136, 136);
    font-size: 1.6rem;
    font-family: sans-serif;
    max-height: 67px;
  }
  
  .myCarousel p:before {
    content: "“";
    color: #fff;
    font-size: 56px;
    font-family: monospace;
    font-weight: 100;
  }
  
  .myCarousel p:after {
    content: "”";
    color: #fff;
    font-size: 56px;
    font-family: monospace;
    font-weight: 100;
    line-height:40px;
  }
  
  .carousel .control-dots .dot {
    box-shadow: none !important;
    background: #454545 !important;
    outline: 0;
  }
  
  .carousel.carousel-slider .control-arrow {
    background: #000 !important;
    height: 50px !important;
    position: absolute;
    top: 35% !important;
  }
  
  .App {
    text-align: center;
  }
  
  @media only screen and (max-width: 934px) {
    .carousel-root {
      outline: 0;
      width: 93% !important;
      margin: auto !important;
    }
  
    .myCarousel p:after , .myCarousel p::before{
      font-size: 36px;
      color: #fff;
    }

    .carousel.carousel-slider .control-arrow {
      display: none !important;
    }
    .myCarousel {
      background: #fafafa;
      margin-top: -9%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 8%;
      padding-bottom: 12.5%;
      padding-left: 5%;
      padding-right: 5%;
      height: 269px;
    }
    .myCarousel >p{
      font-size: 22px;
    }
    .Testimonial__MainHeading >h1{
        font-size: 26px;
        padding: 15px 3px;
        text-align: center;
        color: #fff !important;
    }
  
    .carousel .slide img {
      width: 24% !important;
      border-radius: 50%;
    }
    .carousel .control-dots{
     display: none;
    }
   
  }


  .featured {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  
  .featured__controls {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .featured__controls ul li {
    list-style: none;
    font-size: 18px;
    color: #1c1c1c;
    display: inline-block;
    margin-right: 25px;
    position: relative;
    cursor: pointer;
  }
  
  .featured__controls ul li.active:after {
    opacity: 1;
  }
  
  .featured__controls ul li:after {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: #7fad39;
    content: "";
    opacity: 0;
  }
  
  .featured__controls ul li:last-child {
    margin-right: 0;
  }
  
  .featured__item {
    margin-bottom: 50px;
  }
  
  .featured__item:hover .featured__item__pic .featured__item__pic__hover {
    bottom: 20px;
  }
  
  .featured__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
  }
  
  .featured__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  
  .featured__item__pic__hover li {
    list-style: none;
    display: inline-block;
    margin-right: 6px;
  }
  
  .featured__item__pic__hover li:last-child {
    margin-right: 0;
  }
  
  .featured__item__pic__hover li:hover a {
    background: #7fad39;
    border-color: #7fad39;
  }
  
  .featured__item__pic__hover li:hover a i {
    color: #ffffff;
    transform: rotate(360deg);
  }
  
  .featured__item__pic__hover li a {
    font-size: 16px;
    color: #1c1c1c;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #ebebeb;
    background: #ffffff;
    display: block;
    border-radius: 50%;
    -webkit-transition: all, 0.5s;
    -moz-transition: all, 0.5s;
    -ms-transition: all, 0.5s;
    -o-transition: all, 0.5s;
    transition: all, 0.5s;
  }
  
  .featured__item__pic__hover li a i {
    position: relative;
    transform: rotate(0);
    -webkit-transition: all, 0.3s;
    -moz-transition: all, 0.3s;
    -ms-transition: all, 0.3s;
    -o-transition: all, 0.3s;
    transition: all, 0.3s;
  }
  
  .featured__item__text {
    text-align: center;
    padding-top: 15px;
  }
  
  .featured__item__text h6 {
    margin-bottom: 10px;
  }
  
  .featured__item__text h6 a {
    color: #252525;
  }
  
  .featured__item__text h5 {
    color: #252525;
    font-weight: 700;
  }
  
.section-title {
	margin-bottom: 50px;
	text-align: center;
}

.request_form_tittle{
  font-size: 25px;
  font-weight: bold;
  text-align: center !important;
  padding: 10px;
  justify-content: center;
  color: #7FAD39;
}

.aboutus-title{
  font-size: 45px;
  font-weight: bold;
  text-align: center !important;
  padding: 10px;
  justify-content: center;
  color: #7FAD39;
  padding: 15px;
}

// partner page 

  .img-list {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  .img-list li {
  border: 5px solid transparent;
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  position: relative;
  cursor: pointer;
  }
  .img-list img {
  max-width: 100%;
  vertical-align: middle;
  }
    
  .img-placeholder {
  background: #222;
  box-shadow: 0 0 0 8px #222 inset, 0 0 0 9px #333 inset;
  color: #444;
  line-height: 0;
  text-align: center;
  display: block;
  }
  
  .img-list li:before {
  transition: all .5s ease;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
  transform: scale(0);
  }

  .regional-img{
    padding: 5%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
  }

  .regtitle{
    display: grid;
    flex-direction: row;
  }
// partner page

html {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 13px;

  @supports (display: grid) {
    display: block;
  }
}

.message {
  border: 1px solid #d2d0d0;
  padding: 2em;
  font-size: 1.7vw;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);

  @supports (display: grid) {
    display: none;
  }
}

.section {
  display: none;
  padding: 2rem;

  @media screen and (min-width: 768px) {
    padding: 4rem;
  }

  @supports (display: grid) {
    display: block;
  }
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5em;
}

.grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("../../../Assets/partner/regional/1.png");
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;

  &:nth-of-type(2n) {
    background-image: url("../../../Assets/partner/regional/2.png");
  }

  &:nth-of-type(3n) {
    background-image: url("../../../Assets/partner/regional/3.jpg");
  }

  &:nth-of-type(4n) {
    background-image: url("../../../Assets/partner/regional/4.png");
  }

  &:nth-of-type(5n) {
    background-image: url("../../../Assets/partner/regional/5.jpg");
  }

  &:nth-of-type(6n) {
    background-image: url("../../../Assets/partner/regional/6.jpg");
  }

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 0;
    }
  }

  &--medium {
    grid-row-end: span 2;
  }

  &--large {
    grid-row-end: span 3;
  }

  &--full {
    grid-column-end: auto;

    @media screen and (min-width: 768px) {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }

  &__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #828282;

    &:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}

.item2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
  background: #0c9a9a;
  color: #fff;
  grid-column-start: auto;
  grid-row-start: auto;
  color: #fff;
  background: url("../../../Assets/partner/national/1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  counter-increment: item-counter;

  &:nth-of-type(2n) {
    background-image: url("../../../Assets/partner/national/2.png");
  }

  &:nth-of-type(3n) {
    background-image: url("../../../Assets/partner/national/3.png");
  }

  &:nth-of-type(4n) {
    background-image: url("../../../Assets/partner/national/4.jfif");
  }

  &:nth-of-type(5n) {
    background-image: url("../../../Assets/partner/national/5.png");
  }

  

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out;
  }

  &:hover {
    transform: scale(1.05);

    &:after {
      opacity: 0;
    }
  }

  &--medium {
    grid-row-end: span 2;
  }

  &--large {
    grid-row-end: span 3;
  }

  &--full {
    grid-column-end: auto;

    @media screen and (min-width: 768px) {
      grid-column: 1/-1;
      grid-row-end: span 2;
    }
  }

  &__details {
    position: relative;
    z-index: 1;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #828282;

    &:before {
      content: counter(item-counter);
      font-weight: bold;
      font-size: 1.1rem;
      padding-right: 0.5em;
      color: #444;
    }
  }
}