a {
  cursor: pointer !important;
}

.brand-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.brand-name {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  gap: 9px;
}

#logo-registered-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  justify-self: flex-start;
  vertical-align: super !important;
}

.full-banner.parallax-banner-sarvam {
  background-image: url("/public/assets/images/parallax/sarvam.jpg") !important;
}

.carousel .control-dots .dot {
  margin: -2.1% 8px !important;
}

@media screen and (max-width: 575px) {
  .brand-name {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .brand-name-mobile {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

img.front {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: fadeIn 0.2s ease-in-out 0s 1 normal forwards; */

  /* animation: fadeOut 0.2s ease-in-out 0s 1 normal forwards; */
}

/* img.back {
  animation: name duration timing-function delay iteration-count direction fill-mode;
  animation: slideIn 0.5s ease-in-out 0s 1 normal forwards;
  width: 100%;
} */

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Path: pages\index.css */

.featured__item__pic.set-bg:hover {
  border-radius: 9px;
  transition: border 0.1s ease-in-out !important;
  /* border: var(--theme-deafult) 2px solid; */
  box-shadow: black 0px 0px 72px 0px;
  /* animation: slideOut 0.5s ease-in-out 0s 1 normal forwards; */
  animation: rotateShadow linear 5s infinite forwards;
}

@keyframes rotateShadow {
  0% {
    box-shadow: var(--theme-deafult) 9px -9px 70px 0px;
  }
  25% {
    box-shadow: var(--theme-deafult) -9px -9px 71px 1px;
  }
  50% {
    box-shadow: var(--theme-deafult) -9px 9px 73px 0px;
  }
  75% {
    box-shadow: var(--theme-deafult) 9px 9px 71px 5px;
  }
  100% {
    box-shadow: var(--theme-deafult) 9px -9px 72px 0px;
  }
}

/* 
  q: check the code in the previous commit wihout losing uncomitted changes?
  a: git stash
  q: how to apply the stash?
  a: git stash apply
  q: how to apply the stash and remove it from the stash list?
  a: git stash pop
*/