a {
  cursor: pointer !important;
}

.brand-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.brand-name {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  gap: 10px;
}

#logo-registered-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  justify-self: flex-start;
  vertical-align: super !important;
}

.full-banner.parallax-banner-sarvam {
  background-image: url("/public/assets/images/parallax/sarvam.jpg") !important;
}

.carousel .control-dots .dot {
  margin: -2.1% 8px !important;
}

@media screen and (max-width: 575px) {
  .brand-name {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .brand-name-mobile {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

img.front {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: fadeIn 0.2s ease-in-out 0s 1 normal forwards; */

  /* animation: fadeOut 0.2s ease-in-out 0s 1 normal forwards; */
}

img.back {
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: slideIn 0.5s ease-in-out 0s 1 normal forwards;
  width: 100%;
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Path: pages\index.css */
