/* .featured__item__pic set-bg:hover {
  border-radius: 49.25px;
  box-shadow: var(--theme-deafult) 1px 1px 89px 12px;
}

img.front:hover{
  visibility: none;
}

img.front:hover {
  opacity: 0.05;
  transition: all 0.5s;
  display: none;
}

img.back {
  display: none;
  transition: all 0.5s;
}

img.back:hover {
  display: block;
} */
