.testimonial__container {
  background-color: #95c12b;
}
.Testimonial__MainHeading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Testimonial__MainHeading > h1 {
  font-size: 40px;
  margin-top: 20px;
  color: #fff;
}

.carousel-root {
  width: 94% !important;
  margin: auto !important;
  margin-top: 3% !important;
  margin-bottom: 50px !important;
}

.carousel .slide {
  background: transparent !important;
  color: #fff;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: transparent !important;
  margin-top: -6%;
  width: 74%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  height: 326px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #fff;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin: 12px auto;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 23px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin: 15px auto;
  padding-top: 0;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 40px !important;
  color: #fff;
  font-size: 1.6rem;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #fff;
  font-size: 56px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #fff;
  font-size: 56px;
  font-family: monospace;
  font-weight: 100;
  line-height: 40px;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel .control-dots .dot {
  margin: -2.1% 8px !important;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .myCarousel p:after,
  .myCarousel p::before {
    font-size: 36px;
    color: #fff;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }

  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    height: 269px;
  }

  .myCarousel > p {
    font-size: 22px;
  }
  .Testimonial__MainHeading > h1 {
    font-size: 26px;
    padding: 15px 3px;
    text-align: center;
    color: #fff !important;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
  .carousel .control-dots {
    display: none;
  }
}
